@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body{
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    background-color: #F3F5FC;
    color: #0A3871;
    font-family: 'Inter', sans-serif;
    font-weight: 800;
}
#logo{
    margin:1.8vmax;
    width: 2vmax;
  height: 3vmax;
}
.titulo{
  font-size: 2.2vmax;
}
.container{
  margin: 0.5vmin;
  align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;
  height: 100%;

}
#forca{
  width: 50%;
  height: 50%;
}
input{
  width:20%;
  padding: 2vmin;
  border-radius: 1vmax;
  font-size: 1.3vmax;
  border-width: 0.5vmin;
}

.btn{
  font-size: 1.3vmax;
    border-radius: 1vmax;
    padding:1vmax;
    width: fit-content;
    color: #0A3871;
    background-color: #D8DFE8;
    border-color: #0A3871;
    margin: 1vmin;
  border-width: 0.5vmin;

}
.btn:hover{
    scale: 0.95;
    background-color: #0A3871;
    color:#D8DFE8;
    border-color: #D8DFE8;
}
.btn:hover:disabled{
  background-color: #727272 ;
}

footer{
    padding: 1vmax;
    position: absolute;
    bottom: 0;
    padding-bottom: 0;
    height:fit-content;
}
footer h2{
    font-size: 2vmax;
}
footer p{
    font-size: 1.5vmax;
}
ul{
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 600px) {
  div.example {
    display: none;
  }
}